<h2>Novo Produto</h2>
<form action="/criar" method="POST">
  <input name="nome" placeholder="Nome" required>
  <input name="preco" placeholder="Preço" required>
  <button type="submit">Salvar</button>
</form>